@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --main-color: #071c35;
  --text-color: #777777;
  --header-text-color: #c3c3c3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-family: "Alethia Pro", sans-serif;
}

.header {
  min-height: 100vh;
  background-image: url(./images/1.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 22%;
  padding-bottom: 8%;
  padding-left: 5%;
}

.info-box {
  background: rgba(7, 28, 53, 0.5);
  padding: 1.7em 2rem;
  color: #fff;
  backdrop-filter: blur(7.5px);
  max-width: 380px;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.info-box h1 {
  font-family: 400;
}

img {
  max-width: 100%;
}

.map-image {
  max-width: 90%;
  margin: auto;
  display: block;
}

.site-logo {
  margin-bottom: 1.5rem;
}

.logo {
  width: 140px;
  height: 30px;
}

.line {
  border: 0;
  outline: 0;
  background: #fff;
  height: 1px;
  width: 100px;
  margin-bottom: 1.5rem;
}

.box-subtitle {
  text-transform: uppercase;
  line-height: 1.6;
  font-weight: 500;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.ex-section {
  margin-bottom: 1rem;
}

.ex-section h3 {
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.ex-text {
  color: #c4c4c4;
  font-size: 16px;
}

.experience {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.project-link a {
  text-decoration: none;
  color: #fff;
}

.home-img {
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.home-left {
  background-image: url(./images/3.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 25rem;
}

.homes {
  margin: 7rem 0;
}

.info-content p {
  color: var(--text-color);
}

.content-title {
  color: var(--main-color);
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 1.7rem;
}

.home-description {
  font-weight: 300;
  color: var(--text-color);
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}

.home-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 0 1rem;
}

.home-right {
  max-width: 40rem;
  display: grid;
  place-items: center;
}

.price {
  color: var(--main-color);
  font-size: 44px;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.market-cap {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-color);
  font-family: "Lato", sans-serif;
}

.prices {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}
.price-info {
  margin-bottom: 1rem;
}

.see-more {
  text-decoration: none;
  color: #fff;
  background: var(--main-color);
  text-transform: uppercase;
  padding: 0.5rem 3rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  width: max-content;
}

.projects-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 44px;
  columns: var(--main-color);
  font-weight: 400;
  margin-bottom: 3rem;
}

.project-card {
  border: 1px solid rgba(7, 28, 53, 0.1);
  padding: 0.8rem;
  min-height: 500px;
}

.card-info-box {
  display: flex;
  align-items: end;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center center;
}

#card1 {
  background-image: url(./images/Rectangle\ 12.png);
}

#card2 {
  background-image: url(./images/5.png);
}

#card3 {
  background-image: url(./images/6.png);
}

.community {
  margin-bottom: 5rem;
}

.card-info {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(7.5px);
  width: 100%;
  padding: 1rem;
}

.project-cards__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  margin: 0 1rem;
}

.card-info h1 {
  font-size: 25px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.card-info h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
}

.card-info h2 span {
  font-size: 16px;
}

.projects {
  margin-bottom: 5rem;
}

.locations {
  margin: 4rem 0;
}

.options-box {
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.03);
  background: #fff;
  padding: 1.6rem 1rem;
  max-height: 370px;
}

.options-title,
.project-options__title {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  margin-bottom: 1rem;
}

.custom-checkbox {
  width: 12px;
  height: 12px;
  border: 1px solid var(--text-color);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 100%;
}

.options-list,
.projects-list {
  list-style: none;
  margin-bottom: 3rem;
}

.projects-list li {
  text-transform: uppercase;
  color: var(--text-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.options-list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  color: var(--text-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.options-list li.active {
  color: var(--main-color);
}

.custom-checkbox.active {
  border-color: var(--main-color);
}

.custom-checkbox.active .circle {
  background-color: var(--main-color);
}

.active-item {
  color: var(--main-color) !important;
}

.locations-box {
  border: 1px solid rgba(7, 28, 53, 0.1);
  padding: 1rem;
  margin-bottom: 5rem;
}

.dubai-card {
  min-height: 600px;
  background-image: url(./images/Rectangle\ 7.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  background-position: center;
  margin-bottom: 4rem;
}

.cty-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0 1rem;
}

.cty-left {
  min-width: 270px;
}

.cty-right {
  flex-grow: 0.5;
}

.dubai-card-description {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(7.1134px);
  height: max-content;
  padding: 4% 6%;
}

.dubai-card-description h1 {
  color: var(--main-color);
  font-size: 28.5px;
  font-weight: 400;
  margin-bottom: 1rem;
}
.dubai-card-description p {
  color: var(--main-color);
  font-weight: 300 !important;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  line-height: 23px;
}

.units-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}

.slide-counter {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  color: var(--text-color);
}

.slide-counter h1 {
  font-weight: 300;
}

.active-index {
  color: var(--main-color);
}

.units-title {
  font-size: 30px;
  font-weight: 400;
  color: var(--main-color);
}

.bed {
  color: var(--main-color);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem 0;
}

.hotel-description {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 300;
  line-height: 24px;
}

.hotel-card {
  display: flex;
  flex-wrap: wrap;
  filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.07));
}

.slider {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.img-left img {
  height: 100%;
  width: 100%;
}

.control-left,
.control-right {
  display: flex;
  align-items: center;
  flex-grow: 0.15;
}

.control-left button,
.control-right button {
  background: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.img-left {
  min-width: 200px;
  max-width: 320px;
}

.about-hotel {
  max-width: 320px;
  max-height: 400px;
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.85);
}

.about-hotel .see-more {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 14px;
  padding: 0.7rem 0;
}

.about-hotel h2 {
  color: var(--main-color);
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 1.5rem 0;
}

.about-hotel h1 {
  text-transform: uppercase;
  color: var(--main-color);
  font-size: 30px;
  font-weight: 400;
}

.about-hotel h2 span {
  font-size: 12px !important;
  font-weight: 500 !important;
}

#card2 {
  background-image: url(./images/person.png) !important;
}

#card3 {
  background-image: url(./images/field.png);
}

.payment {
  padding: 0 3rem;
}

.payment-box {
  position: relative;
}

.payment-option {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
  backdrop-filter: blur(7.5px);
  padding: 4rem 3rem;
  position: absolute;
  bottom: -10%;
  right: 0;
  max-width: 610px;
}

.payment-option h1 {
  text-transform: uppercase;
  color: var(--main-color);
  font-size: 50px;
  line-height: 120%;
}

.payment-option hr {
  width: 230px;
  bottom: 0;
  background: var(--main-color);
  opacity: 0.1;
  margin: 1rem 0;
}

.payment-option p {
  font-family: "Lato", sans-serif;
  color: var(--main-color);
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 2rem;
}

.enquire {
  text-decoration: none;
  color: var(--main-color);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  border: 1px solid rgba(7, 28, 53, 0.15);
  padding: 0.7rem 2rem;
}

@media (max-width: 768px) {
  .info-box {
    margin: 20% auto;
  }

  .header {
    padding-left: 0;
  }

  .prices {
    padding: 0 0.5rem;
  }

  .price {
    font-size: 22px;
  }

  .market-cap {
    font-size: 14px;
  }

  .see-more {
    margin: auto;
    display: block;
  }

  .content-title {
    font-size: 25px;
  }

  .home-description {
    font-size: 16px;
  }

  .projects-title {
    font-size: 20px;
  }

  .home-left {
    margin: 0 auto;
  }

  .cty-wrapper {
    flex-direction: column;
  }

  .dubai-card-description h1 {
    font-size: 20px;
  }

  .dubai-card-description p {
    font-size: 14px;
  }

  .units-title {
    font-size: 16px;
  }
  .slide-counter h1 {
    font-size: 15px;
  }

  .hotel-card {
    max-width: 350px;
  }

  .about-hotel h1 {
    font-size: 18px;
  }

  .bed {
    font-size: 14px;
  }

  .hotel-description {
    font-size: 15px;
  }

  .about-hotel .see-more {
    font-size: 12px;
  }
  .about-hotel {
    padding: 0.8rem;
  }

  .control-left,
  .control-right {
    display: none;
  }

  .slider {
    justify-content: center;
  }

  .payment-option {
    position: static;
  }

  .payment-box {
    position: initial;
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    text-align: center;
  }

  .payment-option h1 {
    font-size: 30px;
    text-align: center;
  }

  .payment-box hr {
    margin: 1rem auto;
  }
}

@media (max-width: 700px) {
  .hotel-card {
    flex-direction: column;
  }

  .img-left {
    max-height: 290px;
  }
}
